<%- include ("header.ejs") %>
    <div class="verification-container">
        <form action="/newPasswordPost" method="post" onsubmit="return validatePassword()" >
            <h1>Enter you new Password</h1>
            <input type="password"  id="password" class="verification-input" name="password" placeholder="New password.." onkeyup="validatePassword()" required>
            <input type="password"  id="password" class="verification-input" name="cpassword" placeholder="Confirm New password.."  onkeyup="validatePassword()" required>
            <button type="submit" class="btn btn-success btn-block" id="verify">Submit</button>
            <span id="passwordError"></span>
            <% if(passwordError){%>
                <div style="color: red; font-size: 16px; font-weight: bold;">
                    <%=passwordError%>
                </div>
                    <%}%>
        </form>
                
    </div>


    <%- include ("footer.ejs") %>