<%- include ("header.ejs") %>
<hr>
<style>
    .border-rounded {
        width: fit-content;
        margin: 0 auto;
    }

    /* Custom CSS to align text labels on top */
    .form-group.row {
        margin-bottom: 20px;
    }

    .form-group.row .col-form-label {
        text-align: left;
    }
</style>
<section class="profile-section">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h3 class="text-center">Change Password</h3>
                <form action="/passwordUpdating" method="post" onsubmit="return validatePassword()">
                    <div id="user-details" class="border-rounded border rounded p-4 text-dark">
                        <!-- User details will be displayed here using EJS tags -->
                        <div class="form-group row">
                            <label for="currentPassword" class="col-sm-12 col-form-label">Current Password:</label>
                            <div class="col-sm-12">
                                <input type="password" class="form-control" id="currentPassword" name="pass" required>
                                <% if(pass && pass.length > 0){ %>
                                    <div style="color: red; font-size: 16px; font-weight: bold;">
                                        <%= pass %>
                                    </div>
                                <% } %>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="newPassword" class="col-sm-12 col-form-label">New Password:</label>
                            <div class="col-sm-12">
                                <input type="password" class="form-control" id="password" name="npass" onkeyup="validatePassword()" required>
                                <span id="passwordError"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="confirmPassword" class="col-sm-12 col-form-label">Confirm Password:</label>
                            <div class="col-sm-12">
                                <input type="password" class="form-control" id="confirmPassword" name="cpass" required>
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt-3">
                        <button type="submit" class="btn btn-success">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<br><br>
<%- include ("footer.ejs") %>
